
body {
    position:relative ;
    top: 8rem; left: 500px;
    background-color: rgba(22, 29, 58, 0.761);
}

h1 {
    position:absolute ;
    top: -65px; left: 50px;
    color: rgb(46, 176, 199);
    font-size: 3rem;
    z-index: 9;
}
canvas {
    background-image: url(balloon.jpg);
    background-size: 900px;
    border: 5px solid rgb(37, 27, 96);
}
.button {
    margin: 10px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(22, 30, 95);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(5, 154, 5)
}

#stop {
    background-color: rgb(216, 6, 6);
}
#stop:hover {
    background-color: red
}

.footer {
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  .footer__content {
    position:fixed ;
    bottom: 40px; left: 700px;
    color: #8c8c8c;
  }